
#banner {
    width: 800px;
    height: 100px;
    color:white;
    background-color: rgba(128,128,128,0.5);
    position:fixed;
}
#nav {
    width: 100px;
    height: 200px;
    background-color: #DDD7CB;
    float:left;
    position: fixed;
    margin-left: -100px;
}
#nav li{
    display:block;
    background-color: gold;
    
    margin-top:5px;
    box-shadow: 1px 0px 2px 1px gray;
}
#nav li:hover {
    background-color: chartreuse;
}
#nav a{
    color:blueviolet;
    text-decoration: none;
}
ul{
    padding-left: 10px;
}
#content {
    width: 600px;
    height: 1500px;
    background-color:#F7F7F7;
    float:left;
    margin-left: 100px;
}

#supporting {
    width: 100px;
    height: 150px;
    background-color:#B2B7B7;
    float:left;
}
#footer {
    width: 800px;
    height: 50px;
    color:white;
    background-color:#8A8A6E;
    clear:both;
}
#content div{
    min-height: 200px;
}

#nav, #content, #supporting{
    margin-top: 100px;
}
body {
    margin: 0px;
}
#wrapper{
    width: 800px;
    margin: 0 auto;
}
.container{
    padding:10px;
}
.item{
    padding-top:100px;
    margin-top: 100px;
}
