body {
    margin: 0;
    display: block;
    font-size: 1rem;
    font-family: "Microsoft JhengHei";
}

hr {
    background: linear-gradient(to right, blue, yellow);
    height: 5px;
}

h3 {
    color: darkblue;
    font-weight: bold;
}

h5 {
    font-family: "DFKai-SB";
}

header.masthead {
    position: relative;
    background: url("../assets/images/cover.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.display-3 {
    font-weight: 550;
    line-height: 1.1;
    font-size: 50px;
}

.text-center {
    text-align: center;
}

.title-blue {
    color: darkblue;
}

.offset-md-1 {
    margin-left: 8.33333333%;
}
}

.fill {
    min-height: 100%;
    height: 100%;
}

hr.topdivider {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #cd2fda;
}

/* Animation */
.text-emerge-animation {
    animation-name: emerge;
    animation-duration: 3s;
}

.text-emerge-animation-slow {
    animation-name: emerge;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes emerge {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.zoomout-animation {
    animation-name: zoomout;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes zoomout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#container-0 {
    position: relative;
}

#container-1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* Part2-1*/
.fixed {
    position: fixed !important;
    top: 63.6px;
    z-index: 10;
}

.fixed_2 {
    position: fixed !important;
    top: 80px;
    z-index: 10;
}

.absolute_position_1 {
    position: relative;
}

.released {
    top: 0px;
}

/* Part2-2*/
/*TODO:add md..*/
.offset-lg-6 {
    margin-left: 50%;
}

.fullheight {
    min-height: 100vh;
}

.align-items-center {
    align-items: center;
}

.chart2-title {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Part4 mapbox */
#map {
    top: 50px;
    bottom: 0;
    width: 70%;
}

#features {
    width: 30%;
    margin-left: 70%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}

section {
    padding: 25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}

section.active {
    opacity: 1;
}

section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}
